.wrapper {
  width: 100%;
  max-width: 55rem;
  margin: 0 auto;
  margin-top: 5.625rem;
  padding: 0 1rem;
  margin-bottom: 10rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.header > div {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.header p {
  color: var(--blue);
  font-size: 0.875rem;
  font-weight: 700;
}

.header span {
  background-color: var(--gray-400);
  color: var(--gray-200);
  padding: 3px 9px;
  border-radius: 999px;
  font-size: 0.75rem;
  font-weight: 700;
}

p.purple {
  color: var(--purple);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  overflow-y: scroll;
  max-height: 45vh;
}

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--gray-500);
  opacity: 0.1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 10px;
}

.empty {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  color: var(--gray-300);
  text-align: center;
}

.empty p {
  font-weight: 700;
}

@media screen and (max-width: 1300px) {
  .empty {
    flex-direction: row;
    margin: auto;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    overflow-y: scroll;
    max-height: 30vh;
  }
}
